@import url('https://fonts.googleapis.com/css?family=Amiko');

@import 'checkboxes';

@classicTeal: #25687D;

body.classic-teal {
  --primary-color: @classicTeal;
  --primary-dark-3: darken(@classicTeal, 3%);
  --primary-dark-5: darken(@classicTeal, 5%);
  --primary-dark-10: darken(@classicTeal, 10%);
  --primary-light-5: lighten(@classicTeal, 5%);
  --primary-light-20: lighten(@classicTeal, 20%);
  --primary-light-30: lighten(@classicTeal, 30%);
}

@newfangledRed: #99305E;

body.newfangled-red {
  --primary-color: @newfangledRed;
  --primary-dark-3: darken(@newfangledRed, 3%);
  --primary-dark-5: darken(@newfangledRed, 5%);
  --primary-dark-10: darken(@newfangledRed, 10%);
  --primary-light-5: lighten(@newfangledRed, 5%);
  --primary-light-20: lighten(@newfangledRed, 20%);
  --primary-light-30: lighten(@newfangledRed, 30%);
}

@dark: #4A4A4A;
@bodyColor: #222222;
@lightButtonColor: #C6E2EB;
@borderColor: @dark;
@lightBorderColor: lightgrey;
@lightBackgroundColor: #C9C9C9;
@lightest: #FCFCFC;
@buttonHoverColor: darken(@lightButtonColor, 15%);
@errorRed: #CC0000;

body {
  background: var(--primary-color);
  font: 14px 'Amiko', sans-serif;
  color: @bodyColor;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

div {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0;
  font-weight: normal;
}

div.login, div.not-found, div.form {
  width: 500px;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  background: @lightest;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-self: center;
  align-items: center;

  a {
    font-size: .75em;
    color: darken(@lightBackgroundColor, 25%);
  }

  p {
    margin: 0 20px;
    text-align: center;
  }

  label {
    flex: 0 0 auto;
    align-self: center;
    margin-right: 10px;

    &.check-box {
      margin-right: 0;
      margin-left: 0;
    }
  }

  button, .button {
    min-width: 110px;
    margin-top: 10px;
    text-align: center;

    &.primary {
      justify-self: end;
    }
  }

  input, textarea, select {
    flex: 0 0 auto;
    margin: 10px 0;
    width: 250px;
  }

  select {
    width: 150px;
  }

  & .message {
    flex: 1 1 auto;
    padding-top: 10px;
    min-height: 19px;
    text-align: center;

    &.error {
      color: @errorRed;
    }
  }

  .form-group {
    width: 350px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    &.check-box {
      flex-direction: row;

      & label {
        font-size: .9em;
      }
    }
  }

  .form-element {
    flex: 1 0 auto;
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
  }

}

.content {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  overflow: auto;

  & > div:not(#alerts):not(#header):not(.login):not(.not-found) {
    display: flex;
    flex-flow: column nowrap;
  }

  input, textarea {
    font: 1em 'Amiko', sans-serif;
    padding: 3px 5px;
  }

  input {
    &:not([type=range]) {
      border: 1px solid @lightBorderColor;
    }

    &[type=checkbox] {
      display: none;
    }
  }

  textarea {
      border: 1px solid @lightBorderColor;
  }

  button, .button {
    font: 1em 'Amiko', sans-serif;
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background: var(--primary-dark-10);
    }

    &.secondary {
      background-color: @lightest;
      border: solid 1px @lightBorderColor;
      color: var(--primary-color);

      &:hover {
        background: lighten(@lightBackgroundColor, 10%);
      }

      &:disabled {
        background: lighten(@lightBackgroundColor, 10%);
        color: lighten(@dark, 25%);
      }
    }

    &.cancel {
      background: lighten(@lightBackgroundColor, 10%);
      color: darken(@lightBackgroundColor, 25%);

      &:hover {
        background: @lightBackgroundColor;
        color: darken(@lightBackgroundColor, 35%);
      }
    }
  }
}
