@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');

:root {
  --chatTeal: #99305E;  /* not teal, for testing purposes */
  --youThinkItsBlackButItsNot: #232323;
  --almostWhiteButNotQuite: #FEFEFE;
  /*--chatTeal: #25687d;*/
}

body {
  margin: 0;
  font: 14px Amiko, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body main {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body a {
  font-weight: bold;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
body a > svg {
  margin-left: 5px;
}

input, textarea {
  font: 14px Amiko, sans-serif;
  color: var(--youThinkItsBlackButItsNot);
}

button {
  border: none;
  padding: 0 10px;
  min-width: 80px;
  min-height: 40px;
  background-color: var(--chatTeal);
  color: var(--almostWhiteButNotQuite);
  font: 14px Amiko, sans-serif;
  font-weight: bold;
}

button.secondary {
  color: var(--youThinkItsBlackButItsNot);
  background-color: lightgrey;
}
