.Settings-root {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    min-width: 400px;
}

.Settings-root > .header {
    display: flex;
    justify-content: space-between;
}

.Settings-root > .header > a {
    margin: 20px;
}

.Settings-root > .header > h1 {
    flex: 0 0 auto;
}

.Settings-root > .footer {
    display: flex;
    justify-content: flex-end;
}
