{% extends "form-page.html" %}

{% set title = 'Forgot Password' %}
{% set formTitle = 'Forgot Password' %}
{% set formId = 'forgot-password' %}
{% set subtitle = 'Enter your username to have a password reset link sent to your email.' %}

{% block formjs %}
<script src="/js/forgot-password.js"></script>
{% endblock %}

{% block formContent %}
<div class="form-group">
    <div class="form-element">
        <label for="parasite">Username</label>
        <input type=text
               name="parasite"
               id="parasite"
               required
               autocomplete="username"
               value="{{username}}"/>
    </div>
</div>
<div class="form-element">
    <div class="flex-spacer"></div>
    <button class="primary" type="button" onclick="handleForgotPassword()">Submit request</button>
</div>
<a href="/login">&lt; Wait, I remember it...</a>
{% endblock %}
