.ChatLayout-left {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 200px;
    padding: 10px;

    background-color: var(--chatTeal);
    color: white;
}

.ChatLayout-left a {
    color: white;
}

.ChatLayout-left > h1 {
    margin: 5px 0;
}

.ChatLayout-left > p {
    margin: 5px 0;
    line-height: 21px;
}

.ChatLayout-left > .scrolly-bit {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.ChatLayout-left > .scrolly-bit h2 {
    font-size: 1rem;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.ChatLayout-left > .scrolly-bit ul {
    margin: 0 0 15px;
    padding: 0;
}

.ChatLayout-left > .scrolly-bit ul > li {
    margin: 5px 0;
    list-style: none;
    padding: 6px 1px;
    line-height: 21px;
    cursor: pointer;
}

.ChatLayout-left > .scrolly-bit ul > li:hover, .ChatLayout-left > .scrolly-bit ul > li.current {
    border: 1px solid rgba(255, 255, 255, .5);
    padding: 5px 0;
}

.ChatLayout-left > .scrolly-bit ul > li.unread {
    font-weight: bold;
}

.ChatLayout-left > .scrolly-bit ul > li.unread > svg {
    margin-left: 5px;
}

.ChatLayout-left > .bottom-stuff {
    display: flex;
    flex-direction: column;
}

.ChatLayout-right {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: calc(100% - 200px);
}

.ChatLayout-right > .top-part {
    border-bottom: 1px solid lightgray;
    padding: 5px;
    margin-top: 3px;
    line-height: 21px;
}

.ChatLayout-right > .middle-guy {
    flex: 1 1 auto;
    display: flex;
    white-space: pre-wrap;
    overflow: auto;
}

.ChatLayout-right > .middle-guy > .log {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width: 100%;
}

.ChatLayout-right > .middle-guy > .log > p {
    margin: 0;
    padding: 0;
}

.ChatLayout-right > .bottom-bar {
    display: flex;
    align-items: flex-end;
    border-top: 1px solid lightgray;
}

.ChatLayout-right > .bottom-bar > textarea {
    flex: 1 0 auto;
    border: none;
}


.ChatLayout-right > .bottom-bar > button {
    padding: 5px 10px;
    border: none;
    border-left: 1px solid lightgray;
    background-color: transparent;
    color: var(--chatTeal);
    height: 100%;
}

