{% extends "base.html" %}

{% set title = 'Password reset requested' %}
{% set image = 'cat_laptop.png' %}
{% set image_alt = 'a fat cat on a laptop' %}
{% set image_title = 'laptop cat' %}

{% block html_body %}
<p>
    Well, someone has requested as password reset for {{ parasite_id | default("your account") }}.
</p>
<p style="padding: 1em 0;">
    You'd better hurry, this link'll only be good for 24 hours:
    <a href="{{ reset_link }}">{{ reset_link }}</a>
</p>
<p>
    If you did not request a password reset, you should probably change your password.
</p>
{% endblock %}